.video-title{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    text-transform: uppercase;
    letter-spacing: 19.2px;
    font-size: 70px;
    line-height: 70px;
    text-align: center;
    color: #000;
    width: 100%;
    opacity: 1;
    padding: 0px 50px 75px;

}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:center;
}



.video-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  text-transform: uppercase;
  letter-spacing: 19.2px;
  color: #000;
  margin-bottom: 20px;
}

.video-play{
  transform: matrix(1, 0, 0, 1, 0, 0) ;
  opacity: 1;
  border-radius: 16px;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0) ;
  -moz-transform: matrix(1, 0, 0, 1, 0, 0) ;
  -ms-transform: matrix(1, 0, 0, 1, 0, 0) ;
  -o-transform: matrix(1, 0, 0, 1, 0, 0) ;
}

